<!-- <section class="bg-primary" id="about">
  <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <h1 class="section-heading">Get recharged</h1>
          <h3 class="section-subheader">Great ideas start with great coffee"</h3>
          <hr class="my-4">
        </div>
      </div>
</section>-->

<section class="bg-primary" id="about">
    <div class="row">

    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <h1 class="section-heading">Get recharged</h1>
          <h3 class="section-subheader">Great ideas start with great coffee!</h3>
          <hr class="my-4">
        </div>
          <div class="col-lg-6 md-12 text-left">
            <hr class="light my-4">
            <h3>
              Espresso drinks
            </h3>


        <ul style="list-style-type:none">
            <li>Café Latte......    17,-/20,-</li>
            <li>Cappucino.......    17,-/20,-</li>
            <li>Cortado.........    17,-/20,-</li>
            <li>Americano.......    10,-/15,-</li>
            <li>Espresso........    10,-/12,-</li>
            <li>Iced Latte......    22,-<li>
            <li>Espresso Beans..    50</li>
              </ul>
            </div>
                  <div class="col-lg-6 md-12 text-left">
                <hr class="light my-4">
                <h3> Non-espresso drinks
                </h3>
        <ul style="list-style-type:none">
            <li>Filter Coffee...    10,-</li>
            <li>Tea.............    5,-</li>
            <li>Coco............    15,-</li>
            <li>Chai Latte......    20,-</li>
            <li>Syrup...........    2,-</li>
            <li>Thermo cup......    30,-</li>
              </ul>
            </div>

        </div>
    </div>
    </section>
